.searchBox {
	display: flex;
	align-items: center;
	background-color: var(--color-background-soft);
	border: 1px solid var(--color-skeleton-base);
	border-radius: 20px;
	padding: 2px 10px;
	margin: 0 15px;
	transition: all 0.3s ease;
}

.searchBox:focus-within {
	background-color: var(--color-white);
	border-color: var(--color-accent);
	box-shadow: var(--shadow-soft);
}

.searchBox:focus-within .searchIcon {
	color: var(--color-accent);
}

.input {
	z-index:100;
	border: none;
	background: transparent;
	outline: none;
	padding: 5px;
	font-size: 14px;
	font-family: var(--font-montserrat);
	width: 120px;
	transition: width 0.3s ease;
}

.button {
	background: transparent;
	border: none;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.2s;
}

.button:hover {
	opacity: 1;
}

@media (max-width: 900px) {
	.searchBox {
		margin: 0 60px 0 0;
	}
}

@media (max-width: 500px) {
	.searchBox {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		padding: 0;
		justify-content: center;
		transition:
			width 0.3s ease,
			border-radius 0.3s ease;
		overflow: hidden;
		margin-left: auto;
		margin-right: 50px;
		flex-shrink: 0;
	}

	.searchBox:focus-within {
		position: absolute;
		margin-right: 25px;
		width: 100px;
		border-radius: 20px;
		padding: 0 8px;
		justify-content: space-between;
		right: 45px;
		z-index: 10;
	}

	.input {
		width: 0;
		opacity: 0;
		padding: 0;
		font-size: 12px;
	}

	.searchBox:focus-within .input {
		display: block;
		width: 100px;
		opacity: 1;
		padding: 5px;
	}

	.button {
		opacity: 1;
		min-width: 30px;
	}
}
