.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 42px;
}

.logo {
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
}

.logo:hover {
	text-decoration: none;
}

.title {
	font-size: 18px;
}

.desktop {
	display: flex;
	gap: 1.5rem;
}

.desktop a {
	font-size: 18px;
	transition: color 0.3s, transform 0.2s;
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	justify-content: flex-end;
}

.mobile {
	position: absolute;
	right: 24px;
}

@media (max-width: 900px) {
	.desktop {
		display: none;
	}
	.google {
		display: none;
	}

	.header {
		padding: 16px 24px;
	}

	.title {
		font-size: 18px;
	}

	.logo img {
		width: 42px;
		height: 42px;
	}
}
