:root {
	--color-background: #dcfbff;
	--color-background-second: rgba(253, 246, 240, 1);
	--color-text: #4a2b20;
	--color-button-hover: rgba(237, 147, 45, 0.85);
	--color-shadow: #dcfbff77;
	--color-disable: #777777ff;
	--color-white: #fff;
	--color-red: #d62700ff;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-balsamiq), sans-serif;
	line-height: 1.6;
	background-color: var(--color-background);
	color: var(--color-text);
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	position: relative;
	text-decoration: none;
	color: var(--color-text);
	transition: color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
}

button {
  font-family: inherit;
	font-weight: bold;
}

main {
	flex: 1;
}

section {
	margin-bottom: 48px;
	padding: 16px;
}

@media (max-width: 768px) {
	nav a {
		display: block;
		margin-bottom: 8px;
	}

	section {
		padding: 12px;
	}
}
