.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  padding: 20px;

}

.title {
  font-size: 120px;
  margin: 0;
  color: #ed932d;
}

.subtitle {
  font-size: 32px;
  margin: 10px 0;
  color: #4a2b20;
}

.text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.homeLink {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ed932d;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.homeLink:hover {
  background-color: #d87c1f;
}
