.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-top: 80px;
	padding-bottom: 40px;
}

.text {
	font-family: var(--font-body);
	font-size: 0.9rem;
	color: var(--color-error);
	font-weight: 500;
	margin: 0;
}
