.slideshow {
	position: relative;
	width: 360px;
	height: 390px;
	overflow: hidden;
	border-radius: 100px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.active {
	opacity: 1;
}
