.footer {
	background-color: var(--color-text);
	color: var(--color-white);
	padding: 50px 20px;
	text-align: center;
}

.footer a {
	color: var(--color-button-hover);
	margin: 0 10px;
	transition: color 0.2s ease;
}

.footer a:hover {
	color: var(--color-white);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	margin-bottom: 10px;
	font-size: 14px;
}

.links {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}
