.container {
	padding: 60px 24px;
	max-width: 1200px;
	margin: 0 auto 100px;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 48px;
	text-align: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	grid-auto-flow: dense;
}

.card {
	background-color: var(--color-background-soft);
	border-radius: 32px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.4s ease;
	border: 1px solid transparent;
}

.card:nth-child(1) {
	grid-column: span 2;
}
.card:nth-child(4) {
	grid-column: span 2;
}
.card:nth-child(7) {
	grid-column: span 2;
}

.card:hover {
	transform: translateY(-5px);
	background-color: var(--color-white);
	box-shadow: var(--shadow-medium);
	border-color: var(--color-background-soft);
}

.subtitle {
	font-size: 1.5rem;
	color: var(--color-accent);
	margin-bottom: 12px;
}

.text {
	font-size: 1rem;
	color: var(--color-text-muted);
	margin: 0;
}

@media (max-width: 1024px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
	.card:nth-child(n) {
		grid-column: span 1;
	}

	.card:nth-child(3n) {
		grid-column: span 2;
	}
}

@media (max-width: 640px) {
	.container {
		padding: 40px 16px;
	}
	.cards {
		grid-template-columns: 1fr;
	}
	.card:nth-child(n) {
		grid-column: span 1;
		padding: 24px;
	}
	.title {
		font-size: 1.8rem;
	}

	.subtitle {
		font-size: 1.2rem;
	}
}
